body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

button {
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    margin: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #666;
}

.toggleLabel {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.toggleLabel input[type="checkbox"] {
    display: none;
}

.toggleLabel span {
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    position: relative;
    width: 40px;
}

.toggleLabel .toggle-bg {
    background-color: #666;
    border-radius: 20px;
    display: inline-block;
    height: 20px;
    position: absolute;
    width: 40px;
}

.toggleLabel .toggle-knob {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.3s;
    width: 20px;
}

.toggleLabel input[type="checkbox"]:checked + span .toggle-knob {
    left: 20px;
}

.toggleLabel input[type="checkbox"]:not(:checked) + span .toggle-bg {
    background-color: #333;
}

.toggleLabel input[type="checkbox"]:not(:checked) + span .toggle-knob {
    background-color: #aaa;
}

.toggleLabel input[type="checkbox"]:not(:checked) ~ .toggleText {
    color: #888;
    text-decoration: line-through;
}


#animationCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#buttonContainer {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #222;
    border-radius: 5px;
    margin: 15% auto;
    padding: 20px;
    position: relative;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#pageTitle {
    color: #FFD700;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

#infoButton {
    background-color: transparent;
    border: none;
    color: #FFD700;
    font-size: 2em;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #pageTitle {
        font-size: 1.5em;
    }

    button,
    .toggleLabel {
        font-size: 0.9em;
        padding: 5px 10px;
    }

    #buttonContainer {
        flex-direction: column;
        align-items: center;
    }

    #infoButton {
        font-size: 1.5em;
    }
}